<%

  //view needs challenge = {name: '', tags: []}

  var css = [
    '/css/header.css'
  ];

  var title = challenge.topic;
  var headScripts = [];
  var scripts = [];
  var session = session || {logged:false, username: null};
  var logged = session.logged || false;
  var loggedUser = session.username || false;
%><%include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<style>
  form#add-tag-form, form.edit-comment-form, form.remove-comment-form {
    display: inline;
  }
</style>
<div>
<h1>challenge</h1>
<div id="challenge-name" ><%= challenge.name %><input type="text" readonly="" id="challenge-url" value="<%= challenge.link %>" /></div>
<%
  /**
   * ********************** *
   *    hide-follow         *
   * ********************** *
   */

  var hideFollow = {
    view: !!logged,
    hiding: !!challenge.hiding,
    following: !!challenge.following,
    collection: 'challenge'
  };

%><% include partial/hide-follow.ejs %>
<%
  /**
   * ********************** *
   *         tags           *
   * ********************** *
   */

  var tags = {
    add: !!logged,
    list: [],
    collection: 'challenge'
  };
  //populating the tag list
  for(var i=0, len=challenge.tags.length; i<len; ++i) {
    tags.list.push({name: challenge.tags[i]});
  }
%><% include ./partial/tags.ejs %>
<div id="challenge-description" ><%= challenge.description %></div>
<div id="new-comment">
<% if (logged === true) { %>
  <form id="comment-form" method="post" action="" >
    <textarea name="comment"></textarea>
    <input type="submit" name="submit" value="comment" />
  </form>
<% } 
  else {
    var redirectUrl = encodeURIComponent('/challenge/' + challenge.id + '/' + challenge.url);
    var action = '/login?redirect='+redirectUrl;
%>
<% include ./partial/login-form-simple.ejs %>
<%
  }
%>
<div id="challenge-comments">
<% for(let co of challenge.comments) { %>
  <div class="challenge-comment" id="challenge-comment-<%= co.id %>">
    <span class="challenge-comment-text"><%= co.text %></span>
    <a class="challenge-comment-author" href="/user/<%= co.author.username %>"><%= co.author.username %></a>
  <% if(co.author.username === loggedUser) { %>
    <form class="edit-comment-form" method="post" >
      <input type="hidden" name="comment-id" value="<%= co.id %>" />
      <input type="submit" name="submit" value="edit comment" />
    </form>
    <form class="remove-comment-form" method="post" >
      <input type="hidden" name="comment-id" value="<%= co.id %>" />
      <input type="submit" name="submit" value="remove comment" />
    </form>
  <% } %>
  </div>
<% } %>
</div>
</div>
</div>
<% include ./partial/page-bottom.ejs %>
