<%

  //view needs discussion = {topic: '', posts:[{text: '', author: ''}], newPost: {errors: [string, string]}}

  discussion.newPost = discussion.newPost || {errors: []};

  discussion.tags = discussion.tags || [];

  var css = [
    '/css/header.css'
  ];

  var title = discussion.topic;
  var headScripts = [];
  var scripts = [];
  var session = session || {logged:false, username: null};
  var logged = session.logged || false;
%><%include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<style>
</style>
<div>
<h1>discussion</h1>
<div id="discussion-topic" ><%= discussion.topic %></div>
<% for (var i = 0, len = discussion.posts.length; i < len; ++i) { 
  if(discussion.posts[i]) {%>
  <div id="discussion-post-<%= discussion.posts[i].id %>"><span class="text" ><%= discussion.posts[i].text %></span><span class="author" ><a href="/user/<%= discussion.posts[i].author.username %>" ><%= discussion.posts[i].author.username %></a></span></div>
<%
  }
} %>
<%
  /**
   * ********************** *
   *         tags           *
   * ********************** *
   */

  var tags = {
    add: !!logged,
    list: [],
    collection: 'discussion'
  };
  //populating the tag list
  for(var i=0, len=discussion.tags.length; i<len; ++i) {
    tags.list.push({name: discussion.tags[i]});
  }
%><% include ./partial/tags.ejs %>

<div id="new-post">
<% if (logged === true) { %>
  <form id="new-post-form" method="post" action="" >
    <textarea name="text"></textarea>
    <% for (var i=0, len=discussion.newPost.errors.length; i<len; i++) {%>
      <div class="error"><%= discussion.newPost.errors[i] %></div>
    <% } %>
    <input type="submit" name="submit" value="post" />
  </form>
<% } 
  else {
    var redirectUrl = encodeURIComponent('/discussion/' + discussion.id + '/' + discussion.url);
%>
  You can't post in this discussion. Try to <a href="/login?redirect=<%= redirectUrl %>" >log in</a>.
<%
  }
%>
</div>
</div>
<% include ./partial/page-bottom.ejs %>
