<%
var css = [
  '/css/header.css',
  '/css/dit-profile.css',
  '/css/tag-elem.css'
];
var title = '*' + data.name ;

var headScripts = [
  {
    src: '/libs/js/require.js',
    properties: {
      'data-main': '/js/dit-profile-edit/main'
    }
  }
];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>

<style>
  div.logo {
    background-image: url('/<%= data.dittype %>/<%= data.url %>/logo');
    background-repeat: no-repeat;
    background-size: contain;
    height:64px;
    width:64px;
  }
</style>
<form method="post" >
<div class="panel-basic" ><!-- basic dit info -->
  <div class="logo" >change dit logo</div>
  <div>type
    <select name="dittype">
      <option value="unspecified">unspecified</option>
      <option <% if (data.dittype === 'idea') { %> selected="selected"<% } %> value="idea">idea</option>
      <option <% if (data.dittype === 'project') { %> selected="selected"<% } %> value="project">project</option>
      <option <% if (data.dittype === 'challenge') { %> selected="selected"<% } %> value="challenge">challenge</option>
      <option <% if (data.dittype === 'interest') { %> selected="selected"<% } %> value="interest">interest</option>
    </select>
  </div>
  <div><%= data.created %></div>
</div>
<div class="panel-info"><!--  -->
  <div>
    <span class="profile-name" ><input type="text" name="name" placeholder="dit name" value="<%= data.name %>" /></span>
    <span class="data-url"><%= data.url %></span>
    <span>
      <a class="button" href="/dit/<%= data.url %>">Cancel</a>
      <input class="button" type="submit" name="submit" value="Save Changes" />
    </span>
  </div>
  <div>
    <input type="text" name="summary" placeholder="short summary" value="<%= data.summary %>" />
  </div>
  <div><!-- tags -->
    <ul id="tag-list">
      <li><span class="tag" ></span></li>
      <li><span class="tag" ></span></li>
      <li><span class="tag" ></span></li>
    </ul>
    <input id="tag-search-input" type="text" placeholder="add tag" />
    <ul id="tag-search-output" style="position:absolute; background-color:white" ></ul>
  </div>
  <div class="top-menu">
  </div>
  <div class="about" ><h1>about</h1>
    <div>
      <textarea name="about" placeholder="description" ><%= data.about %></textarea>
    </div>
  </div>
</div>
</form>
<% include ./partial/page-bottom.ejs %>
