<%
var css = [
  '/css/header.css',
  '/css/dit-members.css',
  '/libs/jquery-ui-1.11.4/jquery-ui.css'
];
var title = 'members of ' + dit.url ;

var headScripts = [
  {
    src: '/libs/js/require.js',
    properties: {
      'data-main': '/js/dit-members/main'
    }
  }
];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>
<style>
</style>
<div>
<h1>Members of <%= dit.dittype %> <%= dit.url %></h1>
  <ul>
<% for (var i = 0, len=users.length; i < len; i++) {%>
    <li>
      <a href="/user/<%= users[i].user.username %>"><%= users[i].user.username %></a>
      (<%= users[i].relation %>)<%
        if (rights.relation === 'admin') {
          if(users[i].relation === 'invited') {
           %>
      <form class="inline" method="post" action="/invite-user-to-dit/cancel" >
        <input type="hidden" name="url" value="<%= dit.url %>">
        <input type="hidden" name="username" value="<%= users[i].user.username %>">
        <input type="submit" value="cancel invitation">
      </form><%
        }
        if(users[i].relation === 'join') {
         %>
      <form class="inline" method="post" action="/accept-user-to-dit" >
        <input type="hidden" name="url" value="<%= dit.url %>">
        <input type="hidden" name="username" value="<%= users[i].user.username %>">
        <input type="submit" name="" value="accept">
      </form>
      <form class="inline" method="post" action="/not-accept-user-to-dit" >
        <input type="hidden" name="url" value="<%= dit.url %>">
        <input type="hidden" name="username" value="<%= users[i].user.username %>">
        <input type="submit" name="" value="reject">
      </form>
           <%
          }
        }
      %>
    </li>
<% } %>
      
  </ul><% 
  
  if (rights.relation === 'admin') { %>
  <div id="invite-user" >invite user
    <input id="autocomplete" title="select user" class="ui-autocomplete-input" />
  </div><% } %>
</div>
<% include ./partial/page-bottom.ejs %>
