<%
var css = [
  '/css/header.css',
  '/css/dit-profile.css',
  '/css/tag-elem.css'
];
var title = '*' + data.name ;

var headScripts = [
  {
    src: '/libs/js/require.js',
    properties: {
      'data-main': '/js/dit-profile/main'
    }
  }
];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>

<style>
  div.logo {
    background-image: url('/<%= data.dittype %>/<%= data.url %>/logo');
    background-repeat: no-repeat;
    background-size: contain;
    height:64px;
    width:64px;
  }
</style>
<div class="panel-basic" ><!-- basic dit info -->
  <div class="logo" ></div>
  <div><%= (data.dittype === 'dit' ? 'unspecified' : data.dittype) %></div>
  <div><%= data.created %></div>
</div>
<div class="panel-info"><!--  -->
  <div>
    <span class="profile-dittype" ><%= (data.dittype==='dit' ? '?' : data.dittype) %></span>: <span class="profile-name" ><%= data.name %></span>
    <span class="data-url"><%= data.url %></span>
    <%
      var relation = rights.relation || 'no relation';
    %>
    <span>(<%= relation %>)</span>
    <%
      var actionButtons = {
        invite: rights.edit === true,
        edit: rights.edit === true,
        settings: rights.edit === true,
        join: rights.join === true && rights.relation === null,
        cancelJoin: rights.relation === 'join',
        acceptInvite: rights.relation === 'invited',
        rejectInvite: rights.relation === 'invited'
      };
    %>
    <% if (actionButtons.invite === true) { %><span><a class="button" href="/<%= data.dittype %>/<%= data.url %>/people">Invite User</a></span><% } %>
    <% if (actionButtons.edit === true) { %><span><a class="button" href="/<%= data.dittype %>/<%= data.url %>/edit">Edit</a></span><% } %>
    <% if (actionButtons.settings === true) { %><span><a class="button" href="/<%= data.dittype %>/<%= data.url %>/settings">Settings</a></span><% } %>
    <% if (actionButtons.join === true) { %><span>
      <form class="inline" method="post" action="/join-dit" >
        <input type="hidden" name="url" value="<%= data.url %>">
        <input type="submit" value="join">
      </form>
    </span><% } %>
    <% if (actionButtons.cancelJoin === true) { %><span>
      <form class="inline" method="post" action="/join-dit/cancel" >
        <input type="hidden" name="url" value="<%= data.url %>">
        <input type="submit" value="cancel join">
      </form>
    </span><% } %>
    <% if (actionButtons.acceptInvite === true) { %><span>
      <form class="inline" method="post" action="/accept-invitation-to-dit" >
        <input type="hidden" name="url" value="<%= data.url %>">
        <input type="submit" value="accept invitation">
      </form>
    </span><% } %>
    <% if (actionButtons.rejectInvite === true) { %><span>
      <form class="inline" method="post" action="/not-accept-invitation-to-dit" >
        <input type="hidden" name="url" value="<%= data.url %>">
        <input type="submit" value="reject invitation">
      </form>
    </span><% } %>
  </div>
  <div><%= data.summary %></div>
  <div><!-- tags -->
    <ul id="tag-list">
      <li><span class="tag" ></span></li>
      <li><span class="tag" ></span></li>
      <li><span class="tag" ></span></li>
    </ul>
  </div>
  <div class="top-menu">
  <a href="/<%= data.dittype %>/<%= data.url %>/about">about</a>
  <a href="/<%= data.dittype %>/<%= data.url %>/people">people</a>
  <a href="/<%= data.dittype %>/<%= data.url %>/brainstorm">brainstorm</a>
  <a href="/<%= data.dittype %>/<%= data.url %>/gtd">GTD</a>
  <% if (rights.edit === true) { %><a href="edit">edit</a><% } %>
  <a href="">...</a>
  </div>
  <div class="about" ><h1>about</h1><div><%= data.about %></div></div>
  <div class="activity" ><h1>activity</h1><div><%= data.activity %></div></div>
</div>
<% include ./partial/page-bottom.ejs %>
