  <%
var css = [
  '/css/header.css',
  '/css/dit-create.css',
  '/css/tag-elem.css'
];
var title = 'create dit';

var headScripts = [];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>

<style>
</style>
<form method="post" >
<div>
<h1>Create dit</h1>
<table>
<tr><td>name</td><td><input type="text" name="name" value="<%= values.name %>" placeholder="dit name" /></td><td><%= errors.name %></td></tr>
<tr><td>url</td><td><input type="text" name="url" value="<%= values.url %>" placeholder="url" /></td><td><%= errors.url %></td></tr>
<tr>
  <td>type</td>
  <td>
    <select name="dittype">
      <option value="unspecified">unspecified</option>
      <option <% if (values.dittype === 'idea') { %> selected="selected"<% } %> value="idea">idea</option>
      <option <% if (values.dittype === 'project') { %> selected="selected"<% } %> value="project">project</option>
      <option <% if (values.dittype === 'challenge') { %> selected="selected"<% } %> value="challenge">challenge</option>
      <option <% if (values.dittype === 'interest') { %> selected="selected"<% } %> value="interest">interest</option>
    </select>
  </td>
  <td><%= errors.dittype %></td>
</tr>
<tr>
  <td>summary</td>
  <td><input type="summary" name="summary" value="<%= values.summary %>" placeholder="summary" /></td>
  <td><%= errors.summary %></td>
</tr>
<tr>
  <td></td>
  <td><input class="button" type="submit" name="create" value="Create New Dit" /></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td><a class="button" href="/dits" >Cancel</a></td>
  <td></td>
</tr>
</table>
</div>
</form>
<% include ./partial/page-bottom.ejs %>
