<%

  //view needs idea = {name: '', tags: []}

  var css = [
    '/css/header.css'
  ];

  var title = idea.topic;
  var headScripts = [];
  var scripts = [];
  var session = session || {logged:false, username: null};
  var logged = session.logged || false;
  var loggedUser = session.username || false;
%><%include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<style>
  form#add-tag-form, form.edit-comment-form, form.remove-comment-form {
    display: inline;
  }
</style>
<div>
<h1>idea</h1>
<div id="idea-name" ><%= idea.name %><input type="text" readonly="" id="idea-url" value="<%= idea.link %>" /></div>
<%
  /**
   * ********************** *
   *    hide-follow         *
   * ********************** *
   */

  var hideFollow = {
    view: !!logged,
    hiding: !!idea.hiding,
    following: !!idea.following,
    collection: 'idea'
  };

%><% include partial/hide-follow.ejs %>
<%
  /**
   * ********************** *
   *         tags           *
   * ********************** *
   */

  var tags = {
    add: !!logged,
    list: [],
    collection: 'idea'
  };
  //populating the tag list
  for(var i=0, len=idea.tags.length; i<len; ++i) {
    tags.list.push({name: idea.tags[i]});
  }
%><% include ./partial/tags.ejs %>
<div id="idea-description" ><%= idea.description %></div>
<div id="new-comment">
<% if (logged === true) { %>
  <form id="comment-form" method="post" action="" >
    <textarea name="comment"></textarea>
    <input type="submit" name="submit" value="comment" />
  </form>
<% } 
  else {
    var redirectUrl = encodeURIComponent('/idea/' + idea.id + '/' + idea.url);
    var action = '/login?redirect='+redirectUrl;
%>
<% include ./partial/login-form-simple.ejs %>
<%
  }
%>
<div id="idea-comments">
<% for(let co of idea.comments) { %>
  <div class="idea-comment" id="idea-comment-<%= co.id %>">
    <span class="idea-comment-text"><%= co.text %></span>
    <a class="idea-comment-author" href="/user/<%= co.author.username %>"><%= co.author.username %></a>
  <% if(co.author.username === loggedUser) { %>
    <form class="edit-comment-form" method="post" >
      <input type="hidden" name="comment-id" value="<%= co.id %>" />
      <input type="submit" name="submit" value="edit comment" />
    </form>
    <form class="remove-comment-form" method="post" >
      <input type="hidden" name="comment-id" value="<%= co.id %>" />
      <input type="submit" name="submit" value="remove comment" />
    </form>
  <% } %>
  </div>
<% } %>
</div>
</div>
</div>
<% include ./partial/page-bottom.ejs %>
