<%

  var css = [
    '/css/header.css',
    '/css/messages.css'
  ];

  var title = 'messages';
  var headScripts = [];
  var scripts = [];
  session = session || {logged:false, username: null};
  var logged = session.logged === true ? true : false;
  var loggedUser = session.username || null;

%><%
include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<section class="page">
  <header><h1>Messages<% if(session.unreadMessagesCount > 0) { %> (<%= session.unreadMessagesCount %>)<% } %></h1></header>
  <section><ul><% for(let msg of lastMessages) {
      let notViewedClass = (msg.viewed === true || msg.from.username === loggedUser) ? '' : ' unseen';
      let otherUser = loggedUser == msg.from.username ? msg.to.username : msg.from.username;
      %><li class="last-user-message<%= notViewedClass %>">
        <a href="/messages/<%= otherUser %>">
          <span class="icon-user msg-other-user"><%= otherUser %></span><span><%= msg.text %></span>
        </a>
      </li><%
    }
    %></ul></section>
</section>
<% include ./partial/page-bottom.ejs %>
