<%

  var css = [
    '/css/header.css',
    '/css/messages-user.css'
  ];

  var title = 'messages to user ' + recipient.username;
  var headScripts = [];
  var scripts = [];
  session = session || {logged:false, username: null};
  var logged = session.logged === true ? true : false;
  var loggedUser = session.username || null;

%><%
include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<style>
  .message .msg-side .msg-time {
    display: inline-block;
    visibility: hidden;
    overflow: visible;
    position: absolute;
    height: 1em;
  }

  .message:hover .msg-side .msg-time {
    visibility: visible;
  }

  .msg-time {
    color: #999;
  }

  .header-recipient-avatar {
    height: 1.5em;
    width: 1.5em;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }

  .msg-sender-avatar {
    height: 40px;
    width: 40px;
    border-radius: 3px;
  }

  .msg-sender {
    font-weight: bold;
  }

  ul>hr {
    border: none;
    height: 1px;
    background-color: #ccc;
  }

  .msg-side {
    width: 50px;
    padding: 5px;
    position: relative;
  }

  .msg-main {
    width: 700px;
  }

  .message:not(:empty) {
    border:none;
  }

  .msg-side, .msg-main {
    display: inline-block;
    vertical-align: top;
  }

  .new-message {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .new-message input[type=text] {
    margin-left: 50px;
    width: 650px;
  }
</style>
<section class="page">
  <header><h1>Messages with <a class="" href="/user/<%= recipient.username %>"><img class="header-recipient-avatar" src="/user/<%= recipient.username %>/avatar" /><%= recipient.username %></a></h1></header>
  <section><ul><% 
      let lastUser;
      for(msg of messages) {
        let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        let date = new Date(msg.created);
        let dateNow = new Date();
        let hours = date.getHours();
        let minutes = '0'+date.getMinutes();
        let time = `${hours}:${minutes.substr(-2)}`;
        let day = date.getDate();
        let dayNow = dateNow.getDate();
        let month = months[date.getMonth()];
        let monthNow =  months[dateNow.getMonth()];
        let year = date.getYear();
        let yearNow = dateNow.getYear();
        date = `${month} ${day}`;
        dateNow = `${monthNow} ${dayNow}`;
        let shortYear = (''+year).substr(-2);
        let displayDate = (date === dateNow && year === yearNow) ? '' : `${date} ${year !== yearNow ? ' '+shortYear : ''}`;

        let notViewedClass = (msg.viewed === true || msg.from.username === loggedUser) ? '' : ' msg-not-viewed';
        var userIsDifferent = lastUser !== msg.from.username;
        %>
        <% if(userIsDifferent) { %><hr /><% } %>
        <li class="message<%= notViewedClass %>">
        <% 
        if(userIsDifferent) {%>
        <span class="msg-side"><img class="msg-sender-avatar" src="/user/<%= msg.from.username %>/avatar" alt=""/></span>
        <span class="msg-main">
          <span class="msg-sender"><a href="/user/<%= msg.from.username %>"><%= msg.from.username %></a></span> <span class="msg-time"><%= displayDate %><%= time %></span><br />
        <% }
        else {
        %>
        <span class="msg-side"><span class="msg-time"><%= displayDate %><%= time %></span></span>
        <span class="msg-main">
        <% } 
          lastUser = msg.from.username;
        %>

        <span><%= msg.text %></span>
        </span>
      </li><%
    }
    %></ul></section>
  <form class="new-message" method="post" action="">
    <input type="text" name="message" placeholder="write a message" />
    <input type="submit" name="send" value="send" />
  </form>
</section>
<% include ./partial/page-bottom.ejs %>
