<%

  //view needs project = {name: '', tags: []}

  var css = [
    '/css/header.css',
    '/css/project-id-name.css'
  ];

  project.tags = project.tags || [];

  var title = project.topic;
  var headScripts = [];
  var scripts = [];
  var session = session || {logged:false, username: null};
  var logged = session.logged || false;
  var member = project.userStatus === 'member' ? true : false;
  var loggedUser = session.username || false;

%><% include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<header class="collection-header">
  <nav class="action-container">
    <%
      var share = {
        link: project.link
      };
    %>
    <% include ./partial/share.ejs %>

    <span class="membership-field"><%
      if(project.userStatus === 'member') {
        %><a class="link-to-members" href="/project/<%= project.id %>/<%= project.url %>/members">members: <span class="number-of-members"><%= project.memberno %></span></a><%
      }
      else {
        %>members: <span class="number-of-members"><%= project.memberno %></span><%
      }
    %><% if(project.userStatus === 'member') {
              %><span>member</span><% 
            }
            else if(project.userStatus === 'joining') {
              %><span id="cancel-join-button">cancel joining</span><%
            }
            else if(project.userStatus === 'invited') {
              %><span id="accept-reject-invite-button">accept/reject invite</span><%
            } else if (logged === true) {
              %><span id="join-button">join</span><%
            }%><!--
    --></span>

    <a class="link-to-followers" href="/project/<%= project.id %>/<%= project.url %>/followers">followers: <span class="number-of-followers"><%= project.followerno %></span></a><%
      /**
       * ********************** *
       *    hide-follow         *
       * ********************** *
       */

      var hideFollow = {
        view: !!logged,
        hiding: project.hiding,
        following: project.following,
        collection: 'project'
      };

    %><% include partial/hide-follow.ejs %>
  </nav>
  <h1 class="project-name"><%= project.name %><%
    if(member === true) {
      %><a class="edit" href="/project/id/name/edit?fields=name">[edit]</a><% 
    }
    %></h1>
</header>
<nav class="link-container">
  <a id="edit-project-link" href="/project/<%= project.id %>/<%= project.url %>/edit" >edit</a>
</nav>
<div class="tag-container">
  <%
    /**
     * ********************** *
     *         tags           *
     * ********************** *
     */

    var tags = {
      add: false,
      list: [],
      collection: 'project'
    };
    //populating the tag list
    for(var i=0, len=project.tags.length; i<len; ++i) {
      tags.list.push({name: project.tags[i].name});
    }
  %><% include ./partial/tags.ejs %><a class="edit" href="/project/<%= project.id %>/<%= project.url %>/edit?fields=tags">[edit]</a>
</div>
<span id="project-status" ><%= project.status %></span>
<div class="project-description" ><%
  if(member === true) {
    %><a class="edit" href="/project/<%= project.id %>/<%= project.url %>/edit?fields=description"></a><% 
  }
  %><%= project.description %>
</div>
<% if(logged === true) {} 
  else {
    var redirectUrl = encodeURIComponent('/project/' + project.id + '/' + project.url);
    var action = '/login?redirect='+redirectUrl;
%>
<% include ./partial/login-form-simple.ejs %>
<%
  }
%>
</div>
<% include ./partial/page-bottom.ejs %>
