<%

  //view needs project = {name: '', tags: []}

  var css = [
    '/css/header.css',
    '/css/project-join.css'
  ];

  var title = 'join ' + project.name;
  var headScripts = [];
  var scripts = [];
  var session = session || {logged:false, username: null};
  var logged = session.logged || false;
  var member = project.userStatus === 'member' ? true : false;
  var loggedUser = session.username || false;
  var longUrl = '/project/' + project.id + '/' + project.url;
  var shortUrl = '/p/' + project.id;

  var joinInfo = project.join_info || 'default join info text';

%><% include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<section class="page">
  <header><h1>Joining <a class="icon-project" href="<%= longUrl %>"><%= project.name %></a></h1></header>
  <%  if(['', 'joining'].indexOf(project.userStatus) !== -1) { %>
  <div class="join-info"><%= joinInfo %></div>
  <% } %>
  <%  if(['', 'joining'].indexOf(project.userStatus) !== -1) { %>
  <form method="post" class="join-request">
    <textarea name="request-text"><%= project.joinRequest %></textarea>
  <% if(project.userStatus === '') { %>
    <input type="submit" name="join" value="Send request" />
    <a class="cancel-join" href="<%= longUrl %>">Cancel</a>
  <% } %>
  <% if(project.userStatus === 'joining') { %>
    <input type="submit" name="submit" value="Edit request" />
    <input type="submit" name="submit" value="Delete request" />
    <a class="cancel-join" href="<%= longUrl %>">Cancel</a>
  <% } %>
  </form>
  <% } %>
  <% if(project.userStatus === 'invited') { %>
  <div class="join-info" >You were invited to become a member of this project. You can accept or reject the invitation below. </div>
  <form method="post" class="process-invitation">
    <input type="submit" name="submit" value="Accept invitation" />
    <input type="submit" name="submit" value="Reject invitation" />
    <a class="cancel-join" href="<%= longUrl %>">Cancel</a>
  </form>
  <% } %>
  <% if(project.userStatus === 'member') { 
    let joiners = project.joiners || [];  
  %>
  <ul class="joiners-list">
    <% for (let joiner of joiners) { %>
    <li class="joiner"><%= joiner.username %>
      <form method="get" action="" >
        <input type="hidden" name="user" value="<%= joiner.username %>" />
        <input type="submit" name="manage" value="manage" />
      </form>
    </li>
    <% } %>
  </ul>
  <% } %>
</section>
<% include ./partial/page-bottom.ejs %>
