<%

  //view needs project = {name: '', tags: []}

  var css = [
    '/css/header.css',
    '/css/project.css'
  ];

  project.tags = project.tags || [];

  var title = project.name;
  var headScripts = [];
  var scripts = [];
  var session = session || {logged:false, username: null};
  var logged = session.logged || false;
  var member = project.userStatus === 'member' ? true : false;
  var loggedUser = session.username || false;
  var longUrl = '/project/' + project.id + '/' + project.url;
  var shortUrl = '/p/' + project.id;

%><% include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<section class="page">
  <header class="collection-header">
    <nav class="action-container">
      <%
        var share = {
          link: project.link
        };
      %>
      <% include ./partial/share.ejs %>

      <span class="membership-field"><%

        let projectMembersNumber = `<span class="project-members-number">${project.memberno}</span>`
        if(project.userStatus === 'member') {
        %><a class="link-to-members" href="<%= longUrl %>/members">members: <%- projectMembersNumber %></span></a><%
        }
        else {
          %>members: <%- projectMembersNumber %><%
        }
      %><% if(project.userStatus === 'member') {
                %><a class="member-join-button" href="<%= longUrl %>/join">member</a><%
              }
              else if(project.userStatus === 'joining') {
                %><a class="edit-join-button" href="<%= longUrl %>/join">edit join</a><%
              }
              else if(project.userStatus === 'invited') {
                %><a class="process-invite-button" href="<%= longUrl %>/join">invited</a><%
              } else if (logged === true) {
                %><a class="join-button" href="<%= longUrl %>/join">join</a><%
              }%><!--
      --></span>

      <a class="link-to-followers" href="<%= longUrl %>/followers">followers: <span class="number-of-followers"><%= project.followerno %></span></a><%
        /**
         * ********************** *
         *    hide-follow         *
         * ********************** *
         */

        var hideFollow = {
          view: !!logged,
          hiding: project.hiding,
          following: project.following,
          collection: 'project'
        };

      %><% include partial/hide-follow.ejs %>
    </nav>
    <h1><span class="project-name collection-name icon-project"><%= project.name %></span><%
      if(member === true) {
        %><a class="edit-project-name" href="<%= longUrl %>/edit?field=name">edit</a><% 
      }
      %></h1>
  </header>
  <nav class="link-container">
  </nav>
  <section class="tag-container collection-tags">
    <%
      /**
       * ********************** *
       *         tags           *
       * ********************** *
       */

      var tags = {
        add: false,
        list: [],
        collection: 'project'
      };
      //populating the tag list
      for(var i=0, len=project.tags.length; i<len; ++i) {
        tags.list.push({name: project.tags[i].name});
      }
      %><% include ./partial/tags.ejs %>
      <% if(member === true) { %>
      <a class="edit-tags-link" href="<%= longUrl %>/edit?field=tags">edit tags</a>
      <% } %>
  </section>
  <span id="project-status" ><%= project.status %></span>
  <section>
    <span class="project-description collection-description" >
      <%= project.description %>
    </span>
    <%
    if(member === true) {
      %><a class="edit-project-description" href="<%= longUrl %>/edit?field=description">edit</a><% 
    }
    %>
  </section>
  <% if(logged === true) {} 
    else {
      var redirectUrl = encodeURIComponent(longUrl);
      var action = '/login?redirect='+redirectUrl;
  %>
  <% include ./partial/login-form-simple.ejs %>
  <%
    }
  %>
  </div>
</section>
<% include ./partial/page-bottom.ejs %>
