<%
var css = [
  '/css/signup.css'
];

var title = 'login';
var headScripts = [];
var scripts = [];
%><%include ./partial/page-top.ejs %>
<style>
  
  *, body {
    box-sizing: border-box;
  }

  body {
    background: #eeeeee;
  }

  #out-wrapper { 
    width: 100%;
    position:relative;
    min-height: 100%
  }

  #in-wrapper {
    margin: 0px auto;
    padding-top: 40px;
    padding-top: 40px;
    position:relative;
    width: 300px;
  }

  input, input[type=submit]{
    display: block;
    width: 100%;
    position:relative;
    padding: 5px;
    margin:0px;
    border:2px solid #011149;
    background: none;
    margin-top:2px;
  }

  input[type=submit] {
    margin-top:20px;
    color: #eeeeee;
    background-color: #011149;
    cursor:pointer;
  }

  .error-message {
    margin-bottom: 10px;
    margin-top:2px;
    color: #cd3554;
  }

  .error-input {
    border-color: #cd3554;
  }

  a, a:active {
    color: #0194fe;
    text-decoration: none;
  }

  a:hover {
    color: #eeeeee;
    background-color: #011149;
  }

</style>
<div id="out-wrapper">
  <div id="in-wrapper">
  <form method="post" id="signup-form" >
    username
    <input type="text" name="username" value="<%= values.username %>" <% if  (errors.username.hasOwnProperty('length') && errors.username.length > 0) {%> class="error-input" <% } %> placeholder="username" />
    <div class="error-message"><%= errors.username %></div>
    email
    <input type="text" name="email" value="<%= values.email %>" <% if  (errors.email.hasOwnProperty('length') && errors.email.length > 0) {%> class="error-input" <% } %> placeholder="email@example.com" />
    <div class="error-message"><%= errors.email %></div>
    password
    <input type="password" name="password" value="" <% if  (errors.password.hasOwnProperty('length') && errors.password.length > 0) {%> class="error-input" <% } %> placeholder="password" />
    <div class="error-message"><%= errors.password %></div>
    retype password
    <input type="password" name="password2" value="" <% if  (errors.password2.hasOwnProperty('length') && errors.password2.length > 0) {%> class="error-input" <% } %> placeholder="retype pass" />
    <div class="error-message"><%= errors.password2 %></div>
    <input type="submit" name="signup" value="sign up" />
  </form>
  </div>
</div>
<% include ./partial/page-bottom.ejs %>
