<%
var css = [
  '/css/header.css',
  '/css/tag-edit.css',
];
var title = '#' + data.name ;

var headScripts = [];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>

<style>
</style>
<h1>edit tag <%= data.name %></h1>
<div>
  <form method="post" >
    <div>name</div>
    <div>#<%= data.name %></div>
    <div>description</div>
    <textarea name="description" ><%= data.description %></textarea><%= errors.description %>
    <div>
      <input type="submit" name="edit" value="edit" class="button" />
      <a class="button" href="/tag/<%= data.name %>">Cancel</a>
    </div>
  </form>
</div>
<% include ./partial/page-bottom.ejs %>
