<%
var css = [
  '/css/header.css',
  '/css/tag.css',
];

var title = `tag ${tag.tagname}`;

var headScripts = [];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>

<section class="page">
  <header>
    <h1 class="icon-tag tag-tagname"><%= tag.tagname %></h1>
  </header>
  <section class="tag-description"><%- tag.description %></section>
  <% if(rights.edit === true) { %><a class="edit-tag-link" href="/tag/<%= tag.tagname %>/edit" >edit</a><% } %>
  <hr />
  <section class="tag-uses">
    uses:
    all <span class="tag-all-count"><%= count.all %></span>,
    <a href="/tag/<%= tag.tagname %>/users"><span class="icon-user tag-user-count"><%= count.users %></span></a>,
    <span class="icon-challenge tag-challenge-count"><%= count.challenges %></span>,
    <span class="icon-idea tag-idea-count"><%= count.ideas %></span>,
    <span class="icon-project tag-project-count"><%= count.projects %></span>,
    <span class="icon-discussion tag-discussion-count"><%= count.discussions %></span>
  </section>
</section>
<% include ./partial/page-bottom.ejs %>
