<%
var css = [
  '/css/header.css',
  '/css/tag.css',
];

var title = `tag ${tag.tagname}`;

var headScripts = [];
var scripts = [];

var page = page || '';
var logged = session.logged;

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>

<section class="page">
  <header>
    <h1 class="icon-tag tag-tagname"><%= tag.tagname %></h1>
  </header>
  <section class="tag-description"><%- tag.description %></section>
  <% if(rights.edit === true) { %><a class="edit-tag-link" href="/tag/<%= tag.tagname %>/edit" >edit</a><% } %>
  <% 
    if(logged === true) {
  %>
  <hr />
  <nav class="tag-uses tag-pages-nav">
    <ul>
      <li>all <span class="tag-all-count"><%= count.all %></span></li>
      <li><a class="tag-users-link" href="/tag/<%= tag.tagname %>/users">users <span class="icon-user tag-user-count"><%= count.users %></span></a></li>
      <li><a class="tag-challenges-link" href="/tag/<%= tag.tagname %>/challenges">challenges <span class="icon-challenge tag-challenge-count"><%= count.challenges %></span></a></li>
      <li><a class="tag-ideas-link" href="/tag/<%= tag.tagname %>/ideas">ideas <span class="icon-idea tag-idea-count"><%= count.ideas %></span></a></li>
      <li><a class="tag-projects-link" href="/tag/<%= tag.tagname %>/projects">projects <span class="icon-project tag-project-count"><%= count.projects %></span></a></li>
      <li><a class="tag-discussions-link" href="/tag/<%= tag.tagname %>/discussions">discussions <span class="icon-discussion tag-discussion-count"><%= count.discussions %></span></a></li>
      <li><a class="tag-tags-link" href="/tag/<%= tag.tagname %>/tags">tags</a></li>
    </ul>
  </nav>
  <%
    pages = ['users', 'challenges', 'ideas', 'projects', 'discussions'];
    if(pages.indexOf(page)>-1) {
  %><% include ./tag/pages %>
  <%
    }
    %>
  <%
  }
  %>
</section>
<% include ./partial/page-bottom.ejs %>
