<%
var css = [
  '/css/header.css',
  '/css/user-profile.css',
  '/libs/jquery-ui-1.11.4/jquery-ui.css',
];
var title = 'profile of :'+profile.username ;

var headScripts = [
  {
    src: '/libs/js/require.js',
    properties: {
      'data-main': '/js/user-profile-edit/main'
    }
  }
];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>
<style>
  div.avatar-pic {
    background-image: url('/user/<%= profile.username %>/avatar');
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    padding-bottom:100%;
  }

  div#upload-avatar {
    position: absolute;
    width: 25%
  }

  #tag-list>li {
    display:inline;
  }
</style>
<form method="post" >
<div class="panel-basic" ><!-- basic profile info -->
  <div class="avatar-pic" ></div>
  <div>birthday <input type="text" name="birthday" value="<%= profile.birthday %>" placeholder="yyyy-mm-dd"/></div>
  <div>gender
    <select name="gender">
      <option value="unspecified">unspecified</option>
      <option <% if (profile.gender === 'male') { %> selected="selected"<% } %> value="male">male</option>
      <option <% if (profile.gender === 'female') { %> selected="selected"<% } %>value="female">female</option>
      <option <% if (profile.gender === 'other') { %> selected="selected"<% } %>value="other">other</option>
    </select>
  </div>
</div>
<div class="panel-info" ><!--  -->
  <div>
    <span class="profile-name" >
      <input type="text" name="name" value="<%= profile.name %>" placeholder="Name" />
      <input type="text" name="surname" value="<%= profile.surname %>" placeholder="Surname" />
    </span>
    <span class="profile-username" >@<%= profile.username %></span>
    <span>
      <a class="button" href="/user/<%= profile.username %>">Cancel</a>
      <input class="button" type="submit" name="submit" value="Save Changes" />
    </span>
  </div>
  <div><!-- tags -->
    <ul id="tag-list">
      <li><span class="tag" ></span></li>
      <li><span class="tag" ></span></li>
      <li><span class="tag" ></span></li>
    </ul>
    <span id="add-tag" >
      <input id="autocomplete" type="text" placeholder="add tag" />
      <span>Tag not found? <a target="_blank" href="/tags/create" >Create it.</a></span>
    </span>
  </div>
  <div><h1>about me</h1>
    <div>
      <textarea name="about"><%= profile.about %></textarea>
    </div>
  </div>
</div>
</form>
<div id="upload-avatar" >
  <form action="/user/<%= profile.username %>/upload-avatar" enctype="multipart/form-data" method="post">
    <input name="avatar" type="file" accept="image/*" />
    <input type="submit" value="Upload" />
  </form>
</div>
<% include ./partial/page-bottom.ejs %>
