<%
var css = [
  '/css/header.css',
  '/css/user-profile.css',
  '/css/tag-elem.css'
];
var title = 'profile of '+profile.username;
var logged = session.logged;
var profileUrl = `/user/${profile.username}`;
var me = logged === true && profile.username === session.username ? true : false;

var headScripts = [
//  {
//    src: '/libs/js/require.js',
//    properties: {
//      'data-main': '/js/user-profile/main'
//    }
//  }
];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>
<style>
  .profile-avatar {
    background-image: url('/user/<%= profile.username %>/avatar');
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    padding-bottom:100%;
  }
</style>
<section class="panel-basic" ><!-- basic profile info -->
  <div class="profile-avatar"></div>
  <div class="profile-age"><%= profile.age %></div><% if(me) { %><a class="profile-birthday-edit-link" href="<%= profileUrl %>/edit?field=birthday">edit birthday</a><% } %>
  <div class="profile-gender"><%= profile.gender %></div><% if(me) { %><a class="profile-gender-edit-link" href="<%= profileUrl %>/edit?field=gender">edit gender</a><% } %>
  <div class="profile-joined"><%= profile.joined %></div>
  <div class="profile-active"><%= profile.active %></div>
</section>
<section class="panel-info" ><!--  -->
  <span class="profile-name" ><%= profile.name %></span><% if(me) { %><a class="profile-name-edit-link" href="<%= profileUrl %>/edit?field=name">edit name</a><% } %>
  <span class="profile-username icon-user" ><%= profile.username %></span>
  <%
  if (logged && !me) { 
  %><span><a class="user-messages-link write-message fa fa-comment" href="/messages/<%= profile.username %>">talk</a></span><%
  }
  %>
  <%
        /**
         * ********************** *
         *    follow         *
         * ********************** *
         */

        var follow = {
          view: logged,
          edit: logged && !me,
          following: profile.following,
          followers: profile.followers
        };

      %><% include partial/follow.ejs %>
  <section class="user-tags"><!-- tags -->
    <ul id="tag-list" class="tag-list">
      <% for(let tag of tags) { %>
      <li class="tag icon-tag" ><%= tag.name %></li>
      <% } %>
    </ul>
    <% if(session.logged === true && session.username === profile.username) { %>
    <a class="edit-tags-link" href="/user/<%= session.username %>/edit?field=tags">edit tags</a>
    <% } %>
  </section>
  <section class="profile-about"><%- profile.about %></section><% if(me) { %><a class="profile-about-edit-link" href="<%= profileUrl %>/edit?field=about">edit description</a><% } %>
</section>
<% include ./partial/page-bottom.ejs %>
