<%
var css = [
  '/css/header.css',
  '/css/user-profile.css',
  '/css/tag-elem.css'
];

var page = page;
var title = `${edit ? 'editing ' : ''}${page || 'profile'} of ${profile.username}`;
var logged = session.logged;
var profileUrl = `/user/${profile.username}`;
var me = logged === true && profile.username === session.username ? true : false;
var edit = edit === true ? true : false;
var tags = tags ? tags : [];

var headScripts = [
//  {
//    src: '/libs/js/require.js',
//    properties: {
//      'data-main': '/js/user-profile/main'
//    }
//  }
];
var scripts = [];

%><% include ./partial/page-top.ejs %>
<% include ./partial/header.ejs %>
<style>
  .profile-avatar {
    background-image: url('/user/<%= profile.username %>/avatar');
  }
</style>
<section class="page">
  <section class="panel-basic" ><!-- basic profile info -->
    <div class="profile-avatar">
      <% if(edit === true && field === 'avatar') { %>
      <form class="profile-edit-avatar" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" accept="image/*" />
        <input type="hidden" name="action" value="save" />
        <input type="submit" value="Upload!" />
      </form>
      <% } else { %>
      <% if(me && !edit) { %><a class="profile-avatar-edit-link icon-edit" href="<%= profileUrl %>/edit?field=avatar">edit avatar</a><% } %>
      <% } %>
    </div>
    <nav class="action-panel user-action-panel">
      <ul>
        <%
        if(!edit) {
          if (logged && !me) {
        %>
      <%
          /**
           * ********************** *
           *    follow         *
           * ********************** *
           */

          var follow = {
            view: logged,
            edit: logged && !me,
            following: profile.following,
            followers: profile.followers
          };

          %>
        <li><a class="user-messages-link write-message fa fa-comment" href="/messages/<%= profile.username %>">talk</a></li>
        <li><% include partial/follow.ejs %></li>
        <% } %>
      </ul>
      <span></span>
          <% } else if(edit===true){ %>
      <a href="/user/<%= profile.username %>">cancel</a>
          <% } %>
    </nav>
    <div>
      <% if(edit === true && field === 'birthday') { %>
      <form method="post" class="profile-edit-birthday">
        <input type="text" name="birthday" value="<%= profile.birthday %>" />
        <input type="submit" name="action" value="save" />
      </form>
      <% } else { %>
      <span class="profile-age"><%= profile.age %></span>
      <% if(me && !edit) { %> <a class="profile-birthday-edit-link icon-edit" href="<%= profileUrl %>/edit?field=birthday">edit birthday</a><% } %>
      <% } %>
    </div>
    <div>
      <% if(edit === true && field === 'gender') { %>
      <form method="post" class="profile-edit-gender">
        <select name="gender">
          <option value="unspecified">unspecified</option>
          <option <% if (profile.gender === 'male') { %> selected="selected"<% } %> value="male">male</option>
          <option <% if (profile.gender === 'female') { %> selected="selected"<% } %>value="female">female</option>
          <option <% if (profile.gender === 'other') { %> selected="selected"<% } %>value="other">other</option>
        </select>
        <input type="submit" name="action" value="save" />
      </form>
      <% } else { %>
      <span class="profile-gender"><%= profile.gender %></span>
      <% if(me && !edit) { %> <a class="profile-gender-edit-link icon-edit" href="<%= profileUrl %>/edit?field=gender">edit gender</a><% } %>
      <% } %>
    </div>
    <div class="profile-joined"><%= profile.joined %></div>
    <div class="profile-active"><%= profile.active %></div>
  </section><!--
  --><section class="panel-info" ><!--  -->
    <%
    //adding a navigation panel with lists fields (Followers, Following, projects etc.)
    if(!edit && logged) { %>
      <% include ./user/navigation %>
    <% } %>
    <%
    switch (page) {
      case 'followers':%>
        <% include ./user/followers %>
        <%
        break;
      case 'following':%>
        <% include ./user/following %>
        <% 
        break;
      default:
    %>
        <% include ./user/profile %>
    <% } %>
  </section>
</section>
<% include ./partial/page-bottom.ejs %>
