<%
  var css = [
    '/css/header.css',
    '/css/user-'+collection+'s.css'
  ];

  var collUp = collection.slice(0,1).toUpperCase()+collection.slice(1);
  var title = collection + 's of user ' + user.username;
  var headScripts = [];
  var scripts = [];
  var session = session || {logged:false, username: null};
  var logged = session.logged === true ? true : false;
  var loggedUser = session.username || null;

%><%
include ./partial/page-top.ejs %><%
include ./partial/header.ejs %>
<section class="page">
  <header class="non-list"><h1><%= collUp %>s of <a class="user icon-user" href="/user/<%= user.username %>"><%= user.username %></a></h1></header>
  <section class="<%= collection %>-list following-list">
    <header><h2>User is following</h2></header>
    <ul><%
      for(var i = 0, len=following.length; i<len; ++i) {
        var followingCollection = following[i];
        %><li class="<%= collection %>"><a class="icon-<%= collection %> <%= collection %>-link <%= collection %>-id-<%= followingCollection.id %>" href="/<%= collection %>/<%= followingCollection.id %>"><span class="<%= collection %>-name"><%= followingCollection.name %></span></a></li><%
      }
    %></ul>
  </section><!--
  --><section class="<%= collection %>-list common-tags-list">
    <header><h2>User has common tags with</h2></header>
    <ul><%
      for(var i = 0, len=commonTags.length; i<len; ++i) {
        var commonTagsCollection = commonTags[i];
        var tagArray = [];
        for(let tg of commonTagsCollection.tags) {
          tagArray.push(tg.name);
        }
        var tagList = tagArray.sort().join(", ");//"

      %><li class="<%= collection %>"><a class="icon-<%= collection %> <%= collection %>-link <%= collection %>-id-<%= commonTagsCollection.id %>" href="/<%= collection %>/<%= commonTagsCollection.id %>"><span class="<%= collection %>-name"><%= commonTagsCollection.name %></span></a><span class="common-tagno" data-tooltip="<%= tagList %>" title="<%= tagList %>"><%= commonTagsCollection.tags.length %> tags</span></li><%
      }
    %></ul>
  </section>
</section>
<% include ./partial/page-bottom.ejs %>
