<%

  //view needs collection = {name: '', tags: []}

  var css = [
    '/css/header.css',
    `/css/${collectionName}.css`
  ];

  var title = collection.name;
  var headScripts = [];
  var scripts = [];
  session = session || {logged:false, username: null};
  var logged = session.logged || false;
  var creator = !!(collection.creator.username === session.username) || false;
  var loggedUser = session.username || false;
  var selfLink = `/${collectionName}/${collection.id}/${collection.url}`;
%><%include ./page-top.ejs %><%
include ./header.ejs %>
<style>
  form#add-tag-form, form.edit-comment-form, form.remove-comment-form {
    display: inline;
  }
</style>
<section class="page">
  <header class="collection-header">
    <nav class="action-container">
      <%
        var share = {
          link: collection.link
        };
      %>
      <% include ./share.ejs %>
      <%
        /**
         * ********************** *
         *       follow           *
         * ********************** *
         */

        var follow = {
          view: true,
          edit: !!logged,
          following: !!collection.following,
          followers: collection.followerno,
          collection: collectionName
        };

        %><% include ./follow.ejs %>
    </nav>
    <h1>
      <span class="collection-name <%= collectionName %>-name icon-<%= collectionName %>" >
        <%= collection.name %>
      </span>
      <%if(creator === true) { %>
      <a class="edit-<%= collectionName %>-name" href="<%= selfLink %>/edit?field=name">edit</a>
      <% } %>
    </h1>
  </header>
  <div class="tag-container collection-tags">
    <%
      /**
       * ********************** *
       *         tags           *
       * ********************** *
       */

      var tags = {
        add: false,
        list: [],
        collection: collectionName
      };
      //populating the tag list
      for(var i=0, len=collection.tags.length; i<len; ++i) {
        tags.list.push({name: collection.tags[i]});
      }
      %><% include ./tags.ejs %>
      <% if (logged === true) { %>
      <a class="edit-tags-link" href="<%= selfLink %>/edit?field=tags">add tags</a>
      <% } %>
  </div>
  <section>
    <span class="collection-description <%= collectionName %>-description" id="<%= collectionName %>-description" >
      <%= collection.description %>
    </span>
    <%if(creator === true) { %>
    <a class="edit-<%= collectionName %>-description" href="<%= selfLink %>/edit?field=description">edit</a>
    <% } %>
  </section>
  <div class="new-comment" id="new-comment">
  <% if (logged === true) { %>
    <form id="comment-form" class="comment-form" method="post" action="" >
      <textarea name="comment"></textarea>
      <input type="submit" name="action" value="comment" />
    </form>
  <% } 
    else {
      var redirectUrl = encodeURIComponent('/' + collectionName + '/' + collection.id + '/' + collection.url);
      var action = '/login?redirect='+redirectUrl;
  %>
  <% include ./login-form-simple.ejs %>
  <%
    }
  %>
  </div>
  <div id="<%= collectionName %>-comments">
  <% for(let co of collection.comments) { %>
  <div class="<%= collectionName %>-comment" id="<%= collectionName %>-comment-<%= co.id %>">
      <span class="<%= collectionName %>-comment-text"><%= co.text %></span>
      <a class="<%= collectionName %>-comment-author" href="/user/<%= co.author.username %>"><%= co.author.username %></a>
    <% if(co.author.username === loggedUser) { %>
      <form class="edit-comment-form" method="post" >
        <input type="hidden" name="comment-id" value="<%= co.id %>" />
        <input type="submit" name="submit" value="edit comment" />
      </form>
      <form class="remove-comment-form" method="post" >
        <input type="hidden" name="comment-id" value="<%= co.id %>" />
        <input type="submit" name="submit" value="remove comment" />
      </form>
    <% } %>
    </div>
  <% } %>
  </div>
</section>
<% include ./page-bottom.ejs %>
