<% var msg = msg || '';%>

<header class="page-header">
  <nav class="main-navigation">
    <ul class="dit-menu header-menu">
      <li class="home-logo"><a class="expand" href="/" ><img src="/img/logo3.png" /></a>
        <ul class="header-submenu">
          <li><a href="/development">development</a></li>
          <li><a href="/feedback">feedback</a></li>
        </ul>
      </li><!--
      --><li><a href="/ideas">ideas</a></li><!--
      --><li><a href="/challenges">challenges</a></li><!--
      --><li><a href="/projects">projects</a></li><!--
      --><li><a href="/discussions">discussions</a></li><!--
      --><li><a><i class="fa fa-bars" ></i></a>
        <ul class="header-submenu">
          <li><a href="/tags">tags</a></li>
        </ul>
      </li>
    </ul>
    <form method="get" action="/search">
      <input type="text" /><button type="submit" name="search" ><span class="fa fa-search" ></span></button>
    </form>
    <ul class="people-menu header-menu">
      <% if(session.logged === true) { %>
      <li><a href="/notifications"><span class="fa fa-bell" ></span></a></li><!--
      --><li><a href="/talk" ><span class="fa fa-comments" ></span></a></li><!--
      --><li class="header-avatar"><!--
        --><a class="expand" href="/user/<%= session.username %>"><img src="/user/<%= session.username %>/avatar" /><!--
          --><span><%= session.username %></span><!--
        --></a><!--
        --><ul class="header-submenu">
          <li><a href="/user/<%= session.username %>"><i class="fa fa-user"></i> My profile</a></li>
          <li><a href="/user/<%= session.username %>/edit"><i class="fa fa-pencil"></i> Edit profile</a></li>
          <li><a href="/user/<%= session.username %>/settings"><i class="fa fa-cog"></i> Settings</a></li>
          <li><a href="/user/<%= session.username %>/projects"><i class="fa fa-cubes"></i> Projects</a></li>
          <li><a href="/logout/"><i class="fa fa-sign-out"></i> Log out</a></li>
          <li><a href="/logout-all/"><i class="fa fa-times"></i> Logout everywhere</a></li>
        </ul>
      </li>
<% } 
    %><% if(session.logged !== true) { %><!--
 --><li><a href="/login" >login</a></li><!--
 --><li><a href="/signup" >signup</a></li><!--
   --><% } %>
      
    </ul>
  </nav>
</header>
<% include ./messages %>
