<% var msg = msg || '';%>

<header class="page-header">
  <nav class="main-navigation">
    <ul class="dit-menu header-menu">
      <li class="home-logo"><a class="expand" href="/" ><img src="/img/logo3.png" /></a>
        <ul class="header-submenu">
          <li><a href="/about">about</a></li>
        </ul>
      </li><!--
      --><li><a class="icon-challenge" href="/challenges">challenges</a></li><!--
      --><li><a class="icon-idea" href="/ideas">ideas</a></li><!--
      --><li><a class="icon-project" href="/projects">projects</a></li><!--
      --><li><a class="icon-discussion" href="/discussions">discussions</a></li><!--
      --></ul><!--
    --><!--div style="background-color:white;height:40px;width:1px;display:inline-block;position:relative;top:-10px;">aaa</div--><!--
    --><ul class="header-menu connect-menu"><!--
      --><li><a class="icon-user" href="/people">people</a></li><!--
      --><li><a class="icon-tag" href="/tags">tags</a></li><!--
      --></li>
    </ul>
    <ul class="people-menu header-menu">
      <% if(session.logged === true) { %>
      <li><a href="/notifications"><span class="fa fa-bell" ></span></a></li><!--
      --><li><a href="/messages" ><span class="fa fa-comments" ></span><% 
          if(session.unreadMessagesCount > 0) {
          %><span class="unread-messages-count"><%= session.unreadMessagesCount %></span><%
          }
          %></a></li><!--
      --><li class="header-avatar"><!--
        --><a class="expand" href="/user/<%= session.username %>"><img src="/user/<%= session.username %>/avatar" /><!--
          --><span><%= session.username %></span><!--
        --></a><!--
        --><ul class="header-submenu">
          <li><a class="icon-user" href="/user/<%= session.username %>">My profile</a></li>
          <li><a class="icon-edit" href="/user/<%= session.username %>/edit">Edit profile</a></li>
          <li><a class="icon-settings" href="/user/<%= session.username %>/settings">Settings</a></li>
          <li><a class="icon-challenge" href="/user/<%= session.username %>/challenges">Challenges</a></li>
          <li><a class="icon-idea" href="/user/<%= session.username %>/ideas">Ideas</a></li>
          <li><a class="icon-project" href="/user/<%= session.username %>/projects">Projects</a></li>
          <li><a class="icon-discussion" href="/user/<%= session.username %>/discussions">Discussions</a></li>
          <li><a class="icon-log-out" href="/logout/">Log out</a></li>
          <li><a class="icon-close" href="/logout-all/">Log out everywhere</a></li>
        </ul>
      </li>
<% } 
    %><% if(session.logged !== true) { %><!--
 --><li><a href="/login" >login</a></li><!--
 --><li><a href="/signup" >signup</a></li><!--
   --><% } %>
      
    </ul>
  </nav>
</header>
<% include ./messages %>
